@import "~materialize-css/dist/css/materialize.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.message{
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: -1;
}

.message.sent {
    background: #e1ffc7;
    border-radius: 5px 0px 5px 5px;
    float: right;
}

.message.received {
    background: #7bd0ff;
    border-radius: 0px 5px 5px 5px;
    float: left;
}


.myForm-enter {
    opacity: 0;
    transform: scale(0.9);
}
.myForm-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.myForm-exit {
    opacity: 1;
}
.myForm-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}